.movie-card {
  width: 100%;
  border: 1px solid #ccc;

  margin-bottom: var(--desktop-padding);

  .img-container {
    display: flex;
    flex-direction: row;

    img {
      width: calc(100% / 5);
    }

    .title-year-genre {
      width: calc((100% / 5) * 4);

      .title,
      .year,
      .genre {
        height: calc((100% / 3) - 1px);
        display: flex;
        align-items: center;
        text-align-last: center;
        justify-content: center;

        background-color: var(--light-grey);
        color: var(--blue);
        text-shadow: 0.5px 0.5px var(--grey);
      }

      .title {
        background-color: var(--blue);
        color: var(--white);
        text-shadow: 0.5px 0.5px var(--red);
      }
    }
  }

  .description {
    min-height: var(--desktop-padding);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.movie-card img {
  height: 100%;
  width: 100%;
  display: block;
}
