.modal-container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  position: absolute;

  top: 15vh;
  left: 15%;

  padding: var(--desktop-padding);

  height: 70vh;
  width: 70%;

  border-radius: 25px;
  border: 2px solid var(--grey);
  background: var(--light-grey);

  .modal-container-header {
    display: flex;
    justify-content: space-between;
  }
}
