.flexd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  background-color: var(--blue);
  color: var(--white);

  height: calc(5vh - 1.25px);
  width: 100%;

  border-top-width: 0.25px;
  border-top-style: solid;
  border-top-color: var(--blk);
}
