.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--desktop-padding) 0;

  padding: var(--desktop-padding);

  img {
    height: auto;
    width: 10vw;

    filter: brightness(0) invert(1);
  }

  hr {
    padding: 0;
    width: 100%;
  }

  .selections {
    cursor: pointer;

    &.selected {
      color: var(--red);
    }
  }

  input[type='text']::placeholder {
    text-align: center;
  }
  input[type='text'] {
    height: 3.5vh;
    width: 100%;

    background-color: var(--light-grey);
    color: var(--blue);

    text-align: center;
    text-shadow: 0.5px 0.5px var(--grey);
  }
}
