.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--desktop-padding) 0;

  padding: var(--desktop-padding);

  img {
    height: auto;
    width: 10vw;

    filter: brightness(0) invert(1);
  }

  .selections {
    cursor: pointer;

    &.selected {
      color: var(--red);
    }
  }
}
