:root {
  --bar-height: 10vh;
  --blk: #000;
  --blue: #002768;
  --desktop-padding: 25px;
  --grey: #23272f;
  --red: #be0b31;
  --section-height: 80vh;
  --width: 100%;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Tahoma, sans-serif;
}
